@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,423;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,423;1,500;1,600;1,700&display=swap');

*{
  box-sizing: border-box;
}
body{
  background: #323437;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}
.App-header {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.Character {
  white-space: pre;
  color: #646669;
  width: 20%;
  

}

.Character-current {
  animation:blinkingText 1.25s infinite;

}

@keyframes blinkingText{
  0%{     background:linear-gradient(90deg, goldenrod 14%, #323437 14%)    }
  49%{    background:linear-gradient(90deg, goldenrod 14%, #323437 14%) }
  60%{    background: transparent; }
  99%{    background:transparent;  }
  100%{   background:linear-gradient(90deg, goldenrod 14%, #323437 14%)    }
}

.Character-out {
  color: #d1d0c5;
}

h3{
  color: rgb(0, 0, 0);
}

h1{
  margin-left: 1rem;
  text-align: left;
  color: goldenrod;
}

.stats{
  color: black;
}

.refresh{
  width: 1.25rem;
  height:1.25rem;
  cursor: pointer;
  color: #d1d0c5;
  
  
}

.refresh:hover{
  stroke: goldenrod;
  transition: background 0.5s ease-in-out;
}

.svg{
  text-align: center;
  
}

footer{
  position: absolute;
  bottom: 5px;
  font-size: 5px;
  color: #646669;
  left: 50%;
  width: 50px;
}